
Body
{background-color: blanchedalmond;} 

    h2 {
        background-color: blanchedalmond;
        color: coral;
        font-size: xx-large;
        font-style: italic;
    }
    
    h3 {
        background-color: blanchedalmond;
        color: coral;
        font-size: larger;
        font-style: italic;
    }
    p{
        background-color: blanchedalmond;
        font-size: medium;
        color:cadetblue}
    
    li{color:coral}
    li{ font-size: x-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
    
    ul{color:cadetblue}
    p{font-size: larger;}
    a{font-size: x-large;}